
{% extends 'base.html' %}

{% block title %}Post List{% endblock %}

{% block content %}

<div class="mb-5">
    <h2 style="text-align: center;">All Posts</h2>
</div>

<div class="d-flex flex-wrap gap-3"> <!-- Usando flexbox para espaçamento -->
    {% for post in posts %}
    <div class="card" style="width: 18rem;"> <!-- Cada post em um card separado -->
        <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 100%;" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>     
            <p class="card-text">{{ post.description }}</p>
            <!-- Botões alinhados lado a lado -->
            <div class="d-flex justify-content-between gap-2"> 
                <a href="#" class="btn btn-primary">Like</a>
                <a href="{% url 'post_details' post.id %}" class="btn btn-success">View</a>
                <a href="{% url 'post_update' post.id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}